# env
env

# DS_Store
*.DS_Store

# Jupyter checkpoints
*.ipynb_checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Model files
*.pkl
*.joblib

# Misc (playground/large data file)
data/bluebook_for_bulldozers/*
data/bluebook-for-bulldozers/
*__MACOSX*
notebook-playground.ipynb
/section-2-data-science-and-ml-tools/car-sales-missing-dropped.csv
/section-2-data-science-and-ml-tools/exported-car-sales.csv
/jupyter keyboard shortcuts.txt
